body {
    background-color: #000000;
    color: white;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

hr {
    border-style: none;
    border-width: 10px;
    border-top-style: dotted;
    width: 30%;
}
